<section class="py-16 max-w-screen-2xl mx-auto" aria-labelledby="main-services-title" itemscope
  itemtype="https://schema.org/Service">

  <div class="lg:px-20 px-6">

    <!-- Header -->
    <header class="text-center max-w-3xl mx-auto mb-20" appAnimateOnScroll [animationType]="'slideDown'"
      [animationDuration]="800">

      <p
        class="lg:text-2xl sm:text-xl text-sm font-semibold tracking-widest uppercase text-[rgb(var(--color-primary))] mb-4">
        Servicios Contables en Lima, Perú
      </p>

      <h2 id="main-services-title" class="text-4xl md:text-5xl font-bold text-gray-500  mb-6 leading-tight">
        Especialistas en Asesoría Empresarial Integral
      </h2>

      <p class="text-gray-600 text-lg leading-relaxed">
        Soluciones contables, tributarias y laborales diseñadas para proteger tu empresa,
        optimizar tus recursos y garantizar cumplimiento normativo.
      </p>

    </header>

    <!-- Grid -->
    <ul class="grid grid-cols-1 md:grid-cols-3 gap-6 auto-rows-min" appAnimateOnScroll [animationType]="'slideUp'"
      [animationDuration]="800">

      <li *ngFor="let service of services; let i = index"
        class="group relative overflow-hidden rounded-[2.5rem] border border-gray-100 bg-white/80 backdrop-blur-sm transition-all duration-500 hover:shadow-2xl hover:-translate-y-2"
        [ngClass]="{
        'md:col-span-2': i === 0 || i === 3, 
        'md:col-span-1': i === 1 || i === 2
      }">


        <article class="bg-gray-200 relative h-full p-10 flex flex-col justify-between z-10 overflow-hidden">
          <div class="absolute inset-0 opacity-30 pointer-events-none" style="background-image: 
         linear-gradient(45deg, transparent 48%, white 70%, white 41%, transparent 52%),
         linear-gradient(110deg, transparent 30%, white 31%, white 32%, transparent 33%);
       background-size: 50% 80%, 120% 120%;">
          </div>
          <div>
            <div
              class="inline-flex items-center justify-center w-14 h-14 rounded-2xl mb-6 shadow-inner text-2xl transition-transform duration-500 group-hover:rotate-[12deg]"
              [ngStyle]="{'background-color': service.color , 'color': service.color}">
              {{ service.icon }}
            </div>

            <h3
              class="text-2xl font-bold text-gray-800 mb-3 group-hover:text-[rgb(var(--color-primary))] transition-colors">
              {{ service.title }}
            </h3>

            <p class="text-gray-600 text-sm leading-relaxed max-w-md line-clamp-3">
              {{ service.description }}
            </p>
          </div>

          <div class="flex items-end justify-between mt-4">
            <ul class="hidden lg:block space-y-1 text-xs text-gray-500 font-medium">
              <li *ngFor="let item of service.highlights.slice(0,2)" class="flex items-center gap-2">
                <span class="w-1.5 h-1.5 rounded-full" [ngStyle]="{'background-color': service.color}"></span>
                {{ item }}
              </li>
            </ul>

            <a [routerLink]="service.ctaLink"
              class="flex items-center justify-center w-12 h-12 rounded-full bg-gray-50 text-gray-400 group-hover:bg-[rgb(var(--color-primary))] group-hover:text-white transition-all duration-300">
              <span class="text-xl">→</span>
            </a>
          </div>
        </article>
      </li>
    </ul>

    <!-- Bottom CTA -->
    <div class="mt-24 text-center">

      <p class="text-gray-600 mb-6 text-lg">
        ¿Necesitas una solución personalizada para tu empresa?
      </p>


      <button type="button" [routerLink]="['/contacto']"
        class="bg-[rgb(var(--color-primary))] text-white font-semibold px-8 py-3 rounded-lg hover:bg-[rgb(var(--color-primary-dark))] transition-colors shadow-lg">
        Agendar Consultoría Contable

      </button>
    </div>

  </div>
</section>