@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scrollLeft 40s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}

.animate-scroll-reverse {
    animation: scrollLeft 40s linear infinite reverse;
}

.animate-scroll-reverse:hover {
    animation-play-state: paused;
}