<main class="min-h-[80vh]">
  <app-top-bar></app-top-bar>

  <app-navbar></app-navbar>

  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<div class="fixed bottom-4 right-4 z-50">
  <div class="fixed bottom-4 right-4 z-50 animate-bounce">
    <a href="https://wa.me/51993652732" class="flex items-center gap-2 
           bg-green-500 text-white 
           px-4 py-3 rounded-full 
           shadow-xl font-semibold
           hover:bg-green-600 transition-colors duration-300">
      <!-- Icono WhatsApp SVG -->
      <img src="assets/icons/whatsapp.svg" alt="WhatsApp" class="w-6 h-6" />
      WhatsApp
    </a>
  </div>
  <app-alert></app-alert>