<main class="min-h-[80vh]">
  <app-top-bar></app-top-bar>

  <app-navbar></app-navbar>

  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<div class="fixed bottom-4 right-4 z-50">
  <div class="fixed bottom-4 right-4 z-50 animate-bounce">
    <a href="https://wa.me/51993652732"
      class="flex items-center gap-2 bg-green-700 text-white px-4 py-3 rounded-full shadow-xl font-semibold hover:bg-green-500 focus:outline-none focus:ring-4 focus:ring-green-300 transition-colors duration-300"
      style="border: 2px solid #fff;" aria-label="WhatsApp Exactus, abre chat en nueva pestaña" target="_blank"
      rel="noopener noreferrer">
      <!-- Icono WhatsApp SVG -->
      <img src="assets/icons/whatsapp.svg" alt="Botón de WhatsApp" class="w-6 h-6" />
      <span class="sr-only">WhatsApp</span>
      <span aria-hidden="true">WhatsApp</span>
    </a>
  </div>
  <app-alert></app-alert>