<div *transloco="let t" class="max-w-screen-2xl mx-auto text-center my-10 p-5">
    <p
        class="lg:text-2xl sm:text-xl text-sm font-semibold tracking-widest uppercase text-[rgb(var(--color-primary))] mb-4">
        {{ t('reviews.title') }}
    </p>
    <h2 id="main-services-title" class="text-4xl md:text-5xl font-bold text-gray-500 mb-6 leading-tight">
        {{ t('reviews.heading') }}
    </h2>
    <!-- Loading State -->
    <div *ngIf="isLoading" class="text-center py-10 text-gray-500">{{ t('reviews.loading') }}</div>

    <!-- Error State -->
    <div *ngIf="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md relative mb-6"
        role="alert">
        {{ error }}
    </div>

    <!-- Content -->
    <div *ngIf="!isLoading && !error && reviewsResponse">

        <!-- Reviews List -->
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
            <div *ngFor="let review of reviewsResponse.reviews">
                <div
                    class="bg-white p-6 border border-gray-200 rounded-lg shadow-md transition-shadow duration-300 hover:shadow-xl">
                    <div class="flex items-start justify-between  mb-4">
                        <!-- Author -->
                        <div class="flex items-center">
                            <img [src]="review.authorProfilePhotoUrl || 'assets/icons/user-default.png'"
                                alt="Foto de {{ review.author }}" class="w-12 h-12 rounded-full mr-4 object-cover">
                            <div>
                                <h3 class="font-bold text-gray-900 text-lg">{{ review.author }}</h3>
                                <span class="text-sm text-gray-500">{{ review.reviewTime | date:'longDate' }}</span>
                            </div>

                        </div>
                        <div>
                            <ng-container *ngFor="let star of getStarRating(review.rating)">
                                <span class="text-xl" [ngClass]="star === 'full' ? 'text-amber-400' : 'text-gray-300'">
                                    &#9733;
                                </span>
                            </ng-container>
                        </div>

                    </div>
                    <!-- Review Text -->
                    <p class="text-gray-700 leading-relaxed">{{ review.reviewText }}</p>
                </div>
            </div>
        </div>
    </div>