<main role="main">
  <section class="w-full bg-[rgb(var(--color-primary))]">
    <app-carousel [slides]="slides" [showArrows]="true" [showDots]="false" [autoPlay]="true" [interval]="7000"
      class="w-full h-full">
    </app-carousel>

  </section>
  <!-- Servicios principales -->
  <app-main-services></app-main-services>
  <div class="w-full py-8 flex items-center justify-center">
    <div class="flex-1 h-0.5 bg-gradient-to-r from-transparent to-[rgb(var(--color-primary))]/20"></div>
    <div class="w-2 h-2 rounded-full bg-[rgb(var(--color-primary))] mx-4"></div>
    <div class="flex-1 h-0.5 bg-gradient-to-l from-transparent to-[rgb(var(--color-primary))]/20"></div>
  </div>

  <!-- Clientes -->
  <app-clientes-carousel></app-clientes-carousel>
  <div class="w-full py-8 flex items-center justify-center">
    <div class="flex-1 h-0.5 bg-gradient-to-r from-transparent to-[rgb(var(--color-primary))]/20"></div>
    <div class="w-2 h-2 rounded-full bg-[rgb(var(--color-primary))] mx-4"></div>
    <div class="flex-1 h-0.5 bg-gradient-to-l from-transparent to-[rgb(var(--color-primary))]/20"></div>
  </div>
  <!-- Oficinas -->
  <app-oficinas></app-oficinas>

  <!-- Preguntas frecuentes-->
  <div class="w-full py-8 flex items-center justify-center">
    <div class="flex-1 h-0.5 bg-gradient-to-r from-transparent to-[rgb(var(--color-primary))]/20"></div>
    <div class="w-2 h-2 rounded-full bg-[rgb(var(--color-primary))] mx-4"></div>
    <div class="flex-1 h-0.5 bg-gradient-to-l from-transparent to-[rgb(var(--color-primary))]/20"></div>
  </div>
  <app-faq [preguntas]="preguntas"></app-faq>

</main>