<div class="hidden sm:flex top-bar left-0 bg-[rgb(var(--color-primary))] text-white py-2">
  <div
    class="container max-w-full flex flex-col sm:flex-row flex-wrap items-center gap-3 lg:justify-between sm:justify-center lg:px-20 px-5">

    <!-- Información de contacto -->
    <div class="flex flex-row gap-2 sm:gap-6 text-xs sm:text-sm w-full sm:w-auto">

      <div class="flex items-center gap-2">
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd"
            d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
            clip-rule="evenodd" />
        </svg>
        <span>{{ address }}</span>
      </div>
      <div class="flex items-center gap-2">
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
        <span>Correo: {{ email }}</span>
      </div>
    </div>
    <!-- Redes sociales y botón de llamada -->
    <div class="flex items-center gap-3">
      <a href="https://www.linkedin.com/company/exactus.pe/" target="_blank" rel="noopener noreferrer"
        class="inline-flex items-center justify-center" aria-label="LinkedIn">
        <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="w-10 h-10" />
      </a>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
        class="inline-flex items-center justify-center" aria-label="Facebook">
        <img src="assets/icons/facebook.svg" alt="Facebook" class="w-10 h-10" />
      </a>
      <a href="https://www.youtube.com/@exactus7937" target="_blank" rel="noopener noreferrer"
        class="inline-flex items-center justify-center rounded-lg  bg-white transition" aria-label="YouTube">
        <img src="assets/icons/youtube.svg" alt="YouTube" class="w-8 h-8" />
      </a>
    </div>
  </div>
</div>