/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "tailwindcss";

:root {
  --color-primary: 213 53 65;
  /* rojo principal */
  --color-primary-light: 240 120 130;
  /* rojo claro */
  --color-primary-dark: 150 30 40;
  /* rojo oscuro */
  --color-primary-darker: 90 20 30;
  /* rojo muy oscuro */
  --color-bg-primary: 255 255 255;
  /* blanco */
  --color-bg-secondary: 230 230 230;
  /* gris claro */
  --color-text-primary: 40 40 40;
  /* gris oscuro */
  --color-text-secondary: 120 120 120;
  /* gris medio */
  --color-border: 230 230 230;
  /* gris claro */

}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

button {
  cursor: pointer;
}